.dataset-guide {
  // background: #fff;
  height: auto !important;

  .steps-content {
    min-height: 200px;
    padding: 20px 15px;
  }

  .data-source-radio-content {
    .data-source-radio-search-input {
      margin: 20px 15px;
      max-width: 38%;
      display: block;
    }
  }
}

.dataset-edit {
  .edit-drag-drop {
    height: 50%;
    flex-grow: unset;

    .drop-hover {
      border: 3px dashed #f80e09;
    }

    .content {
      text-align: center;
      margin-right: 8px;
    }
  }
}